# Solar irradiation - City of Sassari (Italy) from 2019 to 2021

In [1]:
import numpy as np
import pandas as pd
from datetime import time

In [2]:
df = pd.read_csv("../datasets/raw/solar_irradiation_sassari_2019-2021.csv")

In [3]:
df.head(5)

,PeriodEnd,PeriodStart,Period,AirTemp,CloudOpacity,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
0,2019-08-31T02:00:00Z,2019-08-31T01:00:00Z,PT60M,22.6,19.3,0,0,0,32.8,75.6,992.0,100,1.6
1,2019-08-31T03:00:00Z,2019-08-31T02:00:00Z,PT60M,22.2,26.0,0,0,0,33.2,75.0,991.4,119,1.5
2,2019-08-31T04:00:00Z,2019-08-31T03:00:00Z,PT60M,21.9,0.1,0,0,0,33.8,75.0,991.0,126,1.3
3,2019-08-31T05:00:00Z,2019-08-31T04:00:00Z,PT60M,21.8,2.8,1,0,1,34.5,74.7,991.2,135,1.2
4,2019-08-31T06:00:00Z,2019-08-31T05:00:00Z,PT60M,22.5,20.9,48,0,48,34.9,71.5,991.8,125,1.3

In [4]:
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [5]:
df = df[['PeriodEnd', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
         'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure', 
         'WindDirection10m', 'WindSpeed10m']]

In [6]:
df.head(5)

,PeriodEnd,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
0,2019-08-31T02:00:00Z,22.6,0,0,0,32.8,75.6,992.0,100,1.6
1,2019-08-31T03:00:00Z,22.2,0,0,0,33.2,75.0,991.4,119,1.5
2,2019-08-31T04:00:00Z,21.9,0,0,0,33.8,75.0,991.0,126,1.3
3,2019-08-31T05:00:00Z,21.8,1,0,1,34.5,74.7,991.2,135,1.2
4,2019-08-31T06:00:00Z,22.5,48,0,48,34.9,71.5,991.8,125,1.3

In [7]:
old_names = ['PeriodEnd', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
         'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure', 
         'WindDirection10m', 'WindSpeed10m']
new_names = ['End_period', 'Temp', 'Diffuse_irr', 'Direct_irr', 'Global_irr',
         'Precipitation', 'Humidity', 'Pressure', 
         'Wind_direction', 'Wind_speed']

In [8]:
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [9]:
df.head(5)

,End_period,Temp,Diffuse_irr,Direct_irr,Global_irr,Precipitation,Humidity,Pressure,Wind_direction,Wind_speed
0,2019-08-31T02:00:00Z,22.6,0,0,0,32.8,75.6,992.0,100,1.6
1,2019-08-31T03:00:00Z,22.2,0,0,0,33.2,75.0,991.4,119,1.5
2,2019-08-31T04:00:00Z,21.9,0,0,0,33.8,75.0,991.0,126,1.3
3,2019-08-31T05:00:00Z,21.8,1,0,1,34.5,74.7,991.2,135,1.2
4,2019-08-31T06:00:00Z,22.5,48,0,48,34.9,71.5,991.8,125,1.3

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20277 entries, 0 to 20276
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   End_period      20277 non-null  object
 1   Temp            20277 non-null  float64
 2   Diffuse_irr     20277 non-null  int64
 3   Direct_irr      20277 non-null  int64
 4   Global_irr      20277 non-null  int64
 5   Precipitation   20277 non-null  float64
 6   Humidity        20277 non-null  float64
 7   Pressure        20277 non-null  float64
 8   Wind_direction  20277 non-null  int64
 9   Wind_speed      20277 non-null  float64
dtypes: float64(5), int64(4), object(1)
memory usage: 1.5+ MB

In [11]:
# change data type in the dataframe
df['Temp'] = df['Temp'].astype(float)
df['Pressure'] = df['Pressure'].astype(int)
df['Humidity'] = df['Humidity'].astype(int)
#convert End_period to a datetime with a minutely frequency ('T'):
#to_datetime converts to date, to_period selects the chosen format and to_timestamp converts all in timestamp
df['End_period'] = pd.to_datetime(df['End_period']).dt.to_period('T').dt.to_timestamp()

/home/cubo/anaconda3/envs/MLOps_Omdena/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

* Difference between datetime and timestamp:  
    are both time of the format YYYY-MM-DD HH:MM:SS, but timestamp includes also the timezone

In [12]:
df.set_index('End_period', inplace=True)

In [13]:
df['year'] = df.index.year
df['month'] = df.index.month
df['hour'] = df.index.hour

In [14]:
# change the midnight from 0 to hour 24, to have a meaningfull value
df['hour'] = df['hour'].replace(0,24)

In [15]:
df.head()

,Temp,Diffuse_irr,Direct_irr,Global_irr,Precipitation,Humidity,Pressure,Wind_direction,Wind_speed,year,month,hour
End_period,,,,,,,,,,,,
2019-08-31 02:00:00,22.6,0,0,0,32.8,75,992,100,1.6,2019,8,2
2019-08-31 03:00:00,22.2,0,0,0,33.2,75,991,119,1.5,2019,8,3
2019-08-31 04:00:00,21.9,0,0,0,33.8,75,991,126,1.3,2019,8,4
2019-08-31 05:00:00,21.8,1,0,1,34.5,74,991,135,1.2,2019,8,5
2019-08-31 06:00:00,22.5,48,0,48,34.9,71,991,125,1.3,2019,8,6

In [16]:
#df.info()

In [17]:
#create a feature Sunrise with the hour of the first non-null irradiation of the day
def set_sunrise_time(df):
    '''Create a column Sunrise and set the hour of the moment when the sun rises. All other times are 0s'''
    df['Sunrise'] = df.loc[(df['Global_irr'] > 0) & (df['Global_irr'].shift(1)==0), 'hour']
    df['Sunrise'] = df['Sunrise'].fillna(0)
    df['Sunrise'] = df['Sunrise'].astype(int)
    return df

In [18]:
# apply set_sunrise_time
set_sunrise_time(df)

,Temp,Diffuse_irr,Direct_irr,Global_irr,Precipitation,Humidity,Pressure,Wind_direction,Wind_speed,year,month,hour,Sunrise
End_period,,,,,,,,,,,,,
2019-08-31 02:00:00,22.6,0,0,0,32.8,75,992,100,1.6,2019,8,2,0
2019-08-31 03:00:00,22.2,0,0,0,33.2,75,991,119,1.5,2019,8,3,0
2019-08-31 04:00:00,21.9,0,0,0,33.8,75,991,126,1.3,2019,8,4,0
2019-08-31 05:00:00,21.8,1,0,1,34.5,74,991,135,1.2,2019,8,5,5
2019-08-31 06:00:00,22.5,48,0,48,34.9,71,991,125,1.3,2019,8,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-22 18:00:00,10.3,0,0,0,13.6,80,997,140,0.7,2021,12,18,0
2021-12-22 19:00:00,10.0,0,0,0,13.3,82,997,150,1.2,2021,12,19,0
2021-12-22 20:00:00,9.6,0,0,0,13.1,83,997,142,1.4,2021,12,20,0
2021-12-22 21:00:00,9.4,0,0,0,13.0,83,997,136,1.6,2021,12,21,0
2021-12-22 22:00:00,9.2,0,0,0,12.6,82,998,132,1.8,2021,12,22,0

In [19]:
df.Sunrise.unique()

array([0, 5, 6, 7, 8])

In [20]:
#create a feature Sunset with the hour of the last non-null irradiation of the day
def set_sunset_time(df):
    '''Create a column Sunset and set the hour of the moment when the sun goes down. All other times are 0s'''
    df['Sunset'] = df.loc[(df['Global_irr'] > 0) & (df['Global_irr'].shift(-1) == 0), 'hour']
    df['Sunset'] = df['Sunset'].fillna(0)
    df['Sunset'] = df['Sunset'].astype(int)
    return df

In [21]:
# apply set_sunset_time
set_sunset_time(df)

,Temp,Diffuse_irr,Direct_irr,Global_irr,Precipitation,Humidity,Pressure,Wind_direction,Wind_speed,year,month,hour,Sunrise,Sunset
End_period,,,,,,,,,,,,,,
2019-08-31 02:00:00,22.6,0,0,0,32.8,75,992,100,1.6,2019,8,2,0,0
2019-08-31 03:00:00,22.2,0,0,0,33.2,75,991,119,1.5,2019,8,3,0,0
2019-08-31 04:00:00,21.9,0,0,0,33.8,75,991,126,1.3,2019,8,4,0,0
2019-08-31 05:00:00,21.8,1,0,1,34.5,74,991,135,1.2,2019,8,5,5,0
2019-08-31 06:00:00,22.5,48,0,48,34.9,71,991,125,1.3,2019,8,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-22 18:00:00,10.3,0,0,0,13.6,80,997,140,0.7,2021,12,18,0,0
2021-12-22 19:00:00,10.0,0,0,0,13.3,82,997,150,1.2,2021,12,19,0,0
2021-12-22 20:00:00,9.6,0,0,0,13.1,83,997,142,1.4,2021,12,20,0,0
2021-12-22 21:00:00,9.4,0,0,0,13.0,83,997,136,1.6,2021,12,21,0,0
2021-12-22 22:00:00,9.2,0,0,0,12.6,82,998,132,1.8,2021,12,22,0,0

In [22]:
df.Sunset.unique()

array([ 0, 18, 17, 16, 19])

In [23]:
# Retain only observations in which the Global_irr > 0
df = df.loc[~(df['Global_irr'] == 0), :]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10635 entries, 2019-08-31 05:00:00 to 2021-12-22 16:00:00
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temp            10635 non-null  float64
 1   Diffuse_irr     10635 non-null  int64
 2   Direct_irr      10635 non-null  int64
 3   Global_irr      10635 non-null  int64
 4   Precipitation   10635 non-null  float64
 5   Humidity        10635 non-null  int64
 6   Pressure        10635 non-null  int64
 7   Wind_direction  10635 non-null  int64
 8   Wind_speed      10635 non-null  float64
 9   year            10635 non-null  int64
 10  month           10635 non-null  int64
 11  hour            10635 non-null  int64
 12  Sunrise         10635 non-null  int64
 13  Sunset          10635 non-null  int64
dtypes: float64(3), int64(11)
memory usage: 1.2 MB

In [25]:
df.sample(10)

,Temp,Diffuse_irr,Direct_irr,Global_irr,Precipitation,Humidity,Pressure,Wind_direction,Wind_speed,year,month,hour,Sunrise,Sunset
End_period,,,,,,,,,,,,,,
2020-05-22 14:00:00,26.0,140,831,827,17.8,36,1000,25,4.6,2020,5,14,0,0
2020-06-11 13:00:00,20.9,353,476,795,25.2,54,988,217,4.7,2020,6,13,0,0
2021-03-01 18:00:00,11.5,2,0,2,11.3,77,1001,87,2.8,2021,3,18,0,18
2021-05-30 12:00:00,24.6,132,875,956,22.0,45,991,270,3.7,2021,5,12,0,0
2021-01-24 08:00:00,11.9,20,0,20,19.3,89,972,251,10.4,2021,1,8,8,0
2020-12-30 13:00:00,9.4,76,0,76,11.1,75,982,295,7.6,2020,12,13,0,0
2020-09-20 14:00:00,26.8,229,512,561,23.6,50,990,248,5.3,2020,9,14,0,0
2020-08-25 16:00:00,27.1,73,769,449,20.8,36,992,300,4.7,2020,8,16,0,0
2019-09-27 17:00:00,22.3,37,345,93,30.2,70,994,306,2.9,2019,9,17,0,0
2021-10-23 06:00:00,13.3,1,7,2,22.9,76,992,148,1.5,2021,10,6,6,0

In [26]:
# Creating the dataFrame that will be used for prediction. 
# We use a time discretization of one day
daily_df = df[['month', 'year', 'Temp', 'Precipitation', 
               'Humidity', 'Pressure', 'Wind_direction',
               'Wind_speed', 'Diffuse_irr', 'Direct_irr', 'Global_irr']]

In [27]:
daily_df.head()

,month,year,Temp,Precipitation,Humidity,Pressure,Wind_direction,Wind_speed,Diffuse_irr,Direct_irr,Global_irr
End_period,,,,,,,,,,,
2019-08-31 05:00:00,8,2019,21.8,34.5,74,991,135,1.2,1,0,1
2019-08-31 06:00:00,8,2019,22.5,34.9,71,991,125,1.3,48,0,48
2019-08-31 07:00:00,8,2019,24.0,34.9,65,992,106,1.3,100,360,220
2019-08-31 08:00:00,8,2019,25.7,34.9,57,991,88,1.4,150,513,401
2019-08-31 09:00:00,8,2019,27.5,34.9,49,991,67,1.8,180,600,566

In [28]:
daily_df = daily_df.groupby(by=daily_df.index.date).mean().round(1)

In [29]:
old_cols = ['Temp', 'Precipitation', 'Humidity', 'Pressure', 'Wind_direction', 
            'Wind_speed', 'Diffuse_irr', 'Direct_irr', 'Global_irr']
daily_cols = ['daily_temp', 'daily_rain', 'daily_hum', 'daily_press', 'daily_windDir', 
              'daily_windSp', 'daily_DHI', 'daily_DNI','daily_GHI']

In [30]:
daily_df.rename(columns=dict(zip(old_cols,daily_cols)), inplace=True)

In [31]:
daily_df.head()

,month,year,daily_temp,daily_rain,daily_hum,daily_press,daily_windDir,daily_windSp,daily_DHI,daily_DNI,daily_GHI
2019-08-31,8.0,2019.0,25.8,38.2,61.6,990.2,148.7,2.2,140.6,203.7,273.4
2019-09-01,9.0,2019.0,26.1,40.3,61.6,987.5,25.0,2.8,216.9,63.1,255.5
2019-09-02,9.0,2019.0,24.9,33.0,67.7,989.6,282.2,3.6,222.1,230.7,377.3
2019-09-03,9.0,2019.0,24.3,24.7,62.1,992.4,253.6,2.8,152.9,447.9,424.0
2019-09-04,9.0,2019.0,26.0,22.8,52.6,991.4,48.8,2.7,125.3,579.6,474.1

In [32]:
daily_df['month'] = daily_df['month'].astype(int)
daily_df['year'] = daily_df['year'].astype(int)

In [33]:
daily_df.shape

(845, 11)

In [34]:
daily_df.to_csv('../datasets/cleaned/cleaned_daily_irr.csv')